.page-item {
  font-weight: 600;
  user-select: none;
  -moz-user-select: none;

  &.disabled {
    .page-link {
      color: #797979;
      border: 1px solid #9abcc1;
    }
  }

  .page-link {
    background-color: #efefff !important;
    color: black;
    border: 1px solid #9abcc1;
    cursor: pointer;

    &:hover {
      color: #3c5cab;
    }
  }
}