body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    &-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    &-thumb {
        background: #b57edc;
        border-radius: 10px;

        &:hover {
            background-color: #e0b0ff;
        }
    }
}
