<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">
		<link rel="manifest" href={{ asset('build/files/manifest.webmanifest') }}>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate"></script>

	</head>
	<body>
		<script type="text/javascript">
			const el = document.createElement('pwa-update');
            document.body.appendChild(el);
		</script>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
