name: Deploy to server

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Validate composer.json and composer.lock
      run: composer validate
      
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest

    - run: npm install
    - run: npm run build

    - name: rsync deployments
      uses: burnett01/rsync-deployments@4.1
      with:
        switches: -avzr --delete --exclude node_modules --exclude '.git*' --exclude .env.local --exclude storage --exclude confu/jwt
        remote_path: ${{ secrets.DEST_ROUTE }}
        remote_host: ${{ secrets.HOST }}
        remote_user: ${{ secrets.USER }}
        remote_port: ${{ secrets.PORT }}
        remote_key: ${{ secrets.DEPLOY_KEY }}
